@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@font-face {
  font-family: LeagueSpartan;
  src: url('./fonts/Alcubierre.otf') format("opentype");
}

@font-face {
  font-family: LeagueSpartan;
  src: url('./fonts/LeagueSpartan.otf') format("opentype");
}