@import "variables";
@import "reset";
@import "toggleswitch";
@import "fonts";
@import "breakpoints";

body,
html {
  font-family: Audrey;
  height: 100%;
  width: 100%;
  background: $light;
}

body {
  position: relative;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  font-family: "Lato";
  line-height: 2;
  color: lighten($dark, 20%);
}

.page {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;

  @include sm() {
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: lighten($dark, 20%);
  font-weight: 500;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $secondary;

  &:hover {
    color: lighten($secondary, 10%);
  }

  &:visited {
    color: $secondary;
  }
}
