@import "variables";
@import "reset";
@import "fonts";
@import "breakpoints";

body,
html {
  font-family: Audrey;
  height: 100%;
  width: 100%;
  background: $light;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: lighten($dark, 20%);
  font-weight: 500;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: $secondary;

  &:hover {
    color: lighten($secondary, 10%);
  }

  &:visited {
    color: $secondary;
  }
}

p {
  font-family: "Lato";
  font-size: 16px;
  line-height: 2;
  color: lighten($dark, 20%);

  @include sm {
    font-size: 14px;
  }
}
