@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import './toggleswitch.css';
@import './variables.scss';

body {
  font-family: 'Abril Fatface';
  color: #9292ef;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.home {
  padding-bottom: 4rem;
}

strong {
  font-weight: 900;
}

span,
p,
strong,
ul,
li {
  font-family: $mono;
}

.typewriter h1 {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $bubblegum; /* The typwriter cursor */
  // white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blinking-cursor 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $bubblegum;
  }
}
