@import './toggleswitch.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body {
  font-family: 'Abril Fatface';
  color: $lavender;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

strong {
  font-weight: bold;
}

span,
p,
strong,
ul,
li {
  font-family: $mono;
}

a {
  color: $bubblegum;
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
