$bubblegum: #f484ff;
$palepink: rgba(244, 132, 255, 0.14);
$frost: #e8e8fa;
$lavender: #9292ef;
$dark: #292940;
$lavenderlight: rgba(221, 221, 242, 1);
$lavendermedium: #9292efa3;
$navdark: rgba(134, 134, 189, 0.04);
$navtext: #8e87b7;
$mono: 'Share Tech Mono';
